<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ColorConsole" version="1.0.1" targetFramework="net472" />
  <package id="GitInfo" version="2.1.2" targetFramework="net472" developmentDependency="true" />
  <package id="Lib.Harmony" version="2.0.2" targetFramework="net472" />
  <package id="log4net" version="2.0.8" targetFramework="net472" />
  <package id="Log4Net.Async" version="2.0.4" targetFramework="net472" />
  <package id="MarkdownDeep.NET" version="1.5" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.7" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.7" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net472" />
  <package id="NLog" version="4.7.5" targetFramework="net472" />
  <package id="NLog.Config" version="4.7.5" targetFramework="net472" />
  <package id="NLog.Schema" version="4.7.5" targetFramework="net472" />
  <package id="Octokit" version="0.48.0" targetFramework="net472" />
  <package id="System.Resources.ResourceManager" version="4.3.0" targetFramework="net472" />
</packages>