<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GitInfo" version="2.0.34" targetFramework="net472" developmentDependency="true" />
  <package id="log4net" version="2.0.8" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.7" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.7" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net472" />
  <package id="NLog" version="4.7.4" targetFramework="net472" />
  <package id="NLog.Config" version="4.7.4" targetFramework="net472" />
  <package id="NLog.Schema" version="4.7.4" targetFramework="net472" />
  <package id="Octokit" version="0.48.0" targetFramework="net472" />
  <package id="System.Resources.ResourceManager" version="4.3.0" targetFramework="net472" />
</packages>