<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GitInfo" version="2.0.34" targetFramework="net472" developmentDependency="true" />
  <package id="NLog" version="4.7.4" targetFramework="net472" />
  <package id="NLog.Config" version="4.7.4" targetFramework="net472" />
  <package id="NLog.Schema" version="4.7.4" targetFramework="net472" />
  <package id="Octokit" version="0.48.0" targetFramework="net472" />
</packages>